<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qc.language">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 拦截号码权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.UserMainActivity"/>
        <activity android:name=".ui.question.speak.rs.list.RSListActivity"/>
        <activity android:name=".ui.question.speak.rs.list.RSDetailActivity"/>

        <activity android:name=".ui.question.speak.ra.list.RAListActivity"/>
        <activity android:name=".ui.question.speak.ra.list.RADetailActivity"/>

        <activity android:name=".ui.question.speak.di.list.DIListActivity"/>
        <activity android:name=".ui.question.speak.di.list.DIDetailActivity"/>

        <activity android:name=".ui.question.speak.rl.list.RlListActivity"/>
        <activity android:name=".ui.question.speak.rl.list.RlDetailActivity"/>

        <activity android:name=".ui.question.speak.asq.list.AsqDetailActivity"/>
        <activity android:name=".ui.question.speak.asq.list.AsqListActivity"/>

        <activity android:name=".ui.question.read.sar.list.SarDetailActivity"/>
        <activity android:name=".ui.question.read.sar.list.SarListActivity"/>

        <activity android:name=".ui.question.read.mar.list.MarDetailActivity"/>
        <activity android:name=".ui.question.read.mar.list.MarListActivity"/>

        <activity android:name=".ui.question.read.rp.list.RpDetailActivity"/>
        <activity android:name=".ui.question.read.rp.list.RpListActivity"/>

        <activity android:name=".ui.question.read.fibr.list.FibrDetailActivity"/>
        <activity android:name=".ui.question.read.fibr.list.FibrListActivity"/>

        <activity android:name=".ui.question.read.fibrw.list.FibrwDetailActivity"/>
        <activity android:name=".ui.question.read.fibrw.list.FibrwListActivity"/>

        <activity android:name=".ui.center.updatepwd.UpdatePwdActivity"/>
        <activity android:name=".ui.main.login.UserLoginActivity"/>

        <activity android:name=".ui.question.listener.ListenerListActivity"/>
        <activity android:name=".ui.question.listener.sst.HsstDetailActivity"/>
        <activity android:name=".ui.question.listener.mcm.HmcmDetailActivity"/>
        <activity android:name=".ui.question.listener.fibl.HfiblDetailActivity"/>
        <activity android:name=".ui.question.listener.smw.HsmwDetailActivity"/>
        <activity android:name=".ui.question.listener.hcs.HhcsDetailActivity"/>
        <activity android:name=".ui.question.listener.hiw.HhiwDetailActivity"/>
        <activity android:name=".ui.question.listener.wfd.HwfdDetailActivity"/>
        <activity android:name=".ui.question.listener.mcs.HmcsDetailActivity"/>

        <!--写作-->
        <activity android:name=".ui.question.write.swt.WswtDetailActivity"/>

    </application>

</manifest>